* {
  box-sizing: border-box;
}

.claim {
  display: flex;
  align-items: center;
  flex-direction: column;
  padding: 1rem 0 0 2rem;
  font-family: 'Roboto', sans-serif;
}

.foot {
  background: #97c294;
  color: #000000;
  display: flex;
  justify-content: space-between;
  font-family: "Medium";
  font-size: 15px;
  gap: 2rem;
  padding: 0 2rem;
  width: 100%;
}

.foot ul {
  padding: 0;
  margin: 0;
  list-style: none;
  display: flex;
  gap: 1rem;
}

.foot a {
  color: inherit;
  font-family: "Medium";
  text-decoration: none;
  font-weight: bold;
  height: 100%;
  display: flex;
  align-items: center;
  padding: .25rem;
}

.headline {
  font-weight: bold;
}

.socials {
  height: 35%
}